<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Inventoryreceipt>
            <version>0.1.0</version>
        </Magestore_Inventoryreceipt>
    </modules>
    <admin>
        <routers>
            <inventoryreceipt>
                <use>admin</use>
                <args>
                    <module>Magestore_Inventoryreceipt</module>
                    <frontName>inventoryreceiptadmin</frontName>
                </args>
            </inventoryreceipt>
        </routers>
    </admin>
    <adminhtml>		
        <layout>
            <updates>
                <inventoryreceipt>
                    <file>inventoryreceipt.xml</file>
                </inventoryreceipt>
            </updates>
        </layout>
        <events>
            <inventory_menu_list>
                <observers>
                    <inventoryreceipt_observers>
                        <class>inventoryreceipt/observer</class>
                        <method>inventoryMenu</method>
                    </inventoryreceipt_observers>
                </observers>
            </inventory_menu_list>
        </events>
    </adminhtml>   
    <global>
        <models>
            <inventoryreceipt>
                <class>Magestore_Inventoryreceipt_Model</class>
                <resourceModel>inventoryreceipt_mysql4</resourceModel>
            </inventoryreceipt>
            <inventoryreceipt_mysql4>
                <class>Magestore_Inventoryreceipt_Model_Mysql4</class>
                <entities>
                    <receiptlog>
                        <table>erp_inventory_receipt_log</table>
                    </receiptlog>
                    <receiptlog_product>
                        <table>erp_inventory_receipt_log_product</table>
                    </receiptlog_product>
                </entities>
            </inventoryreceipt_mysql4>
        </models>
        <resources>
            <inventoryreceipt_setup>
                <setup>
                    <module>Magestore_Inventoryreceipt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventoryreceipt_setup>
            <inventoryreceipt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventoryreceipt_write>
            <inventoryreceipt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventoryreceipt_read>
        </resources>
        <blocks>
            <inventoryreceipt>
                <class>Magestore_Inventoryreceipt_Block</class>
            </inventoryreceipt>
        </blocks>
        <helpers>
            <inventoryreceipt>
                <class>Magestore_Inventoryreceipt_Helper</class>
            </inventoryreceipt>
        </helpers>
    </global>
</config>