<?xml version="1.0"?>
<config>
    <modules>
        <Klevu_Search>
            <version>1.0.12.5</version>
        </Klevu_Search>
    </modules>
    <global>
        <blocks>
            <klevu_search>
                <class>Klevu_Search_Block</class>
            </klevu_search>
        </blocks>
        <helpers>
            <klevu_search>
                <class>Klevu_Search_Helper</class>
            </klevu_search>
        </helpers>
        <models>
            <klevu_search>
                <class>Klevu_Search_Model</class>
                <resourceModel>klevu_search_resource</resourceModel>
            </klevu_search>
            <klevu_search_resource>
                <class>Klevu_Search_Model_Resource</class>
                <entities>
                    <notification>
                        <table>klevu_notification</table>
                    </notification>
                    <product_sync>
                        <table>klevu_product_sync</table>
                    </product_sync>
                    <order_sync>
                        <table>klevu_order_sync</table>
                    </order_sync>
                </entities>
            </klevu_search_resource>
        </models>
        <resources>
            <klevu_search_setup>
                <setup>
                    <module>Klevu_Search</module>
                </setup>
            </klevu_search_setup>
        </resources>
        <events>
            <after_reindex_process_catalog_category_product>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_category_product>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_url>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_url>
            <catalog_inventory_stock_item_save_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_inventory_stock_item_save_commit_after>
            <catalog_product_save_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_product_delete_commit_after>
            <category_move>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </category_move>
            <sales_order_place_after>
                <observers>
                    <klevu_search_order_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleOrderSync</method>
                    </klevu_search_order_sync>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <klevu_search before="Mage_Adminhtml">Klevu_Search_Adminhtml</klevu_search>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <klevu_search>
                    <file>klevu/search.xml</file>
                </klevu_search>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <klevu_search>
                    <file>klevu/search.xml</file>
                </klevu_search>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <klevu_search_clear_cron_check>
                <run>
                    <model>klevu_search/cron::clearCronCheckNotification</model>
                </run>
            </klevu_search_clear_cron_check>
            <klevu_search_product_sync>
                <schedule>
                    <config_path>klevu_search/product_sync/frequency</config_path>
                </schedule>
                <run>
                    <model>klevu_search/product_sync::run</model>
                </run>
            </klevu_search_product_sync>
            <klevu_search_order_sync>
                <schedule>
                    <config_path>klevu_search/order_sync/frequency</config_path>
                </schedule>
                <run>
                    <model>klevu_search/order_sync::run</model>
                </run>
            </klevu_search_order_sync>
        </jobs>
    </crontab>
    <default>
        <klevu_search>
            <general>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
            </general>
            <product_sync>
                <enabled>2</enabled>
                <frequency>0 * * * *</frequency>
                <last_run>Never</last_run>
            </product_sync>
            <order_sync>
                <enabled>1</enabled>
                <frequency>0 * * * *</frequency>
                <last_run>Never</last_run>
            </order_sync>
            <developer>
                <force_log>1</force_log>
                <!-- Log level default is set in the backend model and getter as it uses Zend_Log constants -->
            </developer>
        </klevu_search>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Klevu_Search/>
            </modules>
        </suite>
    </phpunit>
</config>
