<?xml version="1.0"?>
<config>
    <modules>
        <Conversion_Profitshare>
            <version>0.1.0</version>
        </Conversion_Profitshare>
    </modules>
    <frontend>
        <layout>
            <updates>
                <profitshare>
                    <file>profitshare.xml</file>
                </profitshare>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<profitshare>
				<use>admin</use>
				<args>
					<module>Conversion_Profitshare</module>
					<frontName>profitshare</frontName>
				</args>
			</profitshare>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<profitshare module="profitshare">
				<title>Profitshare</title>
				<sort_order>71</sort_order>               
				<action>profitshare/adminhtml_profitshare</action>
			</profitshare>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Conversion_Profitshare>
							<title>Profitshare Module</title>
							<sort_order>10</sort_order>
						</Conversion_Profitshare>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<profitshare>
					<file>profitshare.xml</file>
				</profitshare>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <resources>
            <profitshare_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profitshare_write>
            <profitshare_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profitshare_read>
        </resources>
        <blocks>
            <profitshare>
                <class>Conversion_Profitshare_Block</class>
            </profitshare>
        </blocks>
        <helpers>
            <profitshare>
                <class>Conversion_Profitshare_Helper</class>
            </profitshare>
        </helpers>
        <models>
            <profitshare>
                <class>Conversion_Profitshare_Model</class>
            </profitshare>
		</models>
    </global>
    <crontab>
        <jobs>
            <profitshare>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>profitshare/observer::reimportProduct</model>
                </run>
            </profitshare>
        </jobs>
    </crontab>
</config>