<?xml version="1.0"?>
<config>
    <tabs>
        <innobyte_core translate="label" module="innobyte_core">
            <label>Innobyte Extensions</label>
            <sort_order>1</sort_order>
        </innobyte_core>
    </tabs>
    <sections>
        <innobyte_core translate="label" module="innobyte_core">
            <label>Info</label>
            <tab>innobyte_core</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensions translate="label">
                    <label>Installed Innobyte Extensions</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>innobyte_core/system_config_form_fieldset_extensions</frontend_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>
                <adminnotification>
                    <label>Innobyte Notifications</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <feeds translate="label">
                            <label>I'd like to be informed about:</label>
                            <comment></comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <source_model>innobyte_core/source_feed_type</source_model>
                        </feeds>

                    </fields>
                </adminnotification>
            </groups>
        </innobyte_core>
        <innobyte_shop>
            <label>Shop</label>
            <tab>innobyte_core</tab>
            <class>innobyte-shop</class>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensions translate="label">
                    <label>Innobyte Extensions Shop</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>innobyte_core/system_config_form_fieldset_shop</frontend_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>
            </groups>
        </innobyte_shop>
    </sections>
</config>
