<?xml version="1.0"?>
<config>
    <modules>
        <Magik_Innovasettings>
            <version>0.1.1</version>
        </Magik_Innovasettings>
    </modules>
    <admin>
        <routers>
            <innovasettings>
                <use>admin</use>
                <args>
                    <module>Magik_Innovasettings</module>
                    <frontName>innovasettings</frontName>
                </args>
            </innovasettings>
        </routers>
    </admin>            
	<adminhtml>
        <layout>
            <updates>
                <innovasettings>
                    <file>innovasettings.xml</file>
                </innovasettings>
            </updates>
        </layout>
        <menu>
            <magik translate="title" module="innovasettings">
                <title>Magik Innova</title>
                <sort_order>9999</sort_order>
                <children>
                    <innova translate="title" module="innovasettings">
                        <title>Settings</title>
                        <sort_order>10</sort_order>
                        <children>
                            <settings translate="title" module="innovasettings">
                                <title>Theme Settings</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/system_config/edit/section/innovasettings</action>
                            </settings> 
                            <restore translate="title" module="innovasettings">
                                <title>Restore Defaults</title>
                                <sort_order>20</sort_order>
                                <action>innovasettings/adminhtml_restore</action>
                            </restore>
                        </children>
                    </innova>
                </children>
            </magik>
        </menu>
		<translate>
		     <modules>
		         <Magik>
		             <files>
		                 <default>Magik_Innovasettings.csv</default>
		             </files>
		         </Magik>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <innovasettings>
			                                <title>Innova Theme Settings</title>
			                            </innovasettings>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<magik>
			                <children>
                                <innova>
                                    <title>Innova</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings> 
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                    </children>
                                </innova>
			                </children>
			            </magik>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <innovasettings>
                <class>Magik_Innovasettings_Block</class>
            </innovasettings>
        </blocks>
        <helpers>
            <innovasettings>
                <class>Magik_Innovasettings_Helper</class>
            </innovasettings>
        </helpers>
		<models>
            <innovasettings>
                <class>Magik_Innovasettings_Model</class>
            </innovasettings>
        </models>
        <resources>
            <innovasettings_setup>
                <setup>
                    <module>Magik_Innovasettings</module>
	                <class>Magik_Innovasettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </innovasettings_setup>
            <innovasettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </innovasettings_write>
            <innovasettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </innovasettings_read>
        </resources>
    </global>
	<default>
		<innovasettings>
			<innovasettings_appearance>
				<footer>informative</footer>
				<width>flexible</width>				
				<font>Lato</font>
				<color></color>
				<header_bg_color></header_bg_color>
				<header_fg_color></header_fg_color>
				<footer_bg_color></footer_bg_color>
				<footer_fg_color></footer_fg_color>
				<content_bg_color></content_bg_color>
			</innovasettings_appearance>
			<innovasettings_header>
				<navigation_home>0</navigation_home>
			</innovasettings_header>
			<innovasettings_menu>
                                <navigation_menu_type>mega-menu</navigation_menu_type>                                
                        </innovasettings_menu>
			<innovasettings_labels>
				<new_label>1</new_label>
				<new_label_position>top-left</new_label_position>
				<new_label_text>New</new_label_text>
				<sale_label>1</sale_label>
				<sale_label_position>top-right</sale_label_position>
				<sale_label_text>Sale</sale_label_text>
			</innovasettings_labels>
			<innovasettings_footer>
			        <footer_google_analytics></footer_google_analytics>
                                <footer_google_analytics_path></footer_google_analytics_path>                                
			</innovasettings_footer>
			<innovasettings_social>
			        <social_link>1</social_link>
                     <facebook_social_link>1</facebook_social_link>
			        <facebook_social_link_path>#</facebook_social_link_path>
                     <twitter_social_link>1</twitter_social_link>
			        <twitter_social_link_path>#</twitter_social_link_path>
                     <googleplus_social_link>1</googleplus_social_link>
                                <googleplus_social_link_path>#</googleplus_social_link_path> 
                                   <rss_social_link>1</rss_social_link>   
                                   <rss_social_link_path>#</rss_social_link_path>
                                   <pinterest_social_link>1</pinterest_social_link>
                                <pintrest_social_link_path>#</pintrest_social_link_path>
                                 <linkedin_social_link>1</linkedin_social_link>
                                <linkedin_social_link_path>#</linkedin_social_link_path>
                                <youtube_social_link>1</youtube_social_link>
                                <youtube_social_link_path>#</youtube_social_link_path>
                        </innovasettings_social>
                        <innovasettings_products>
                                <upsell_product>1</upsell_product>
                                <related_product>1</related_product>
                                <nextprevious_product>1</nextprevious_product>
                        </innovasettings_products>                                              
                        <innovasettings_shoppingcart>
                                <shoppingcart_top>1</shoppingcart_top>
                        </innovasettings_shoppingcart>
                        <innovasettings_quickview>
                                <enable>1</enable>
                        </innovasettings_quickview>
		</innovasettings>
	</default>
</config>
